<!-- <div class="uk-child-width-expand uk-grid-small uk-text-center" style="height: 25rem;" uk-grid>
   <div>
       <div class="uk-padding uk-animation-toggle" style="background-color: cadetblue;height: 20rem;"> 
         
          <div class="uk-margin-top" style="font-size: 2rem;color: white;">Hey I'm </div>
          <div class="" style="font-size: 5rem;color: #F9D976;">Simran Nagdeo</div>

          <div class="uk-text-center" style="color:#F9D976 ;">Web Developer</div>
       </div>
   </div>
   <div style="padding-left: 0px;">
       <div  class="uk-padding uk-position-relative" style="height: 20rem;opacity: 0.25;">
          <img src="/assets/img/default.jpg" class="uk-position-center">
       </div>
   </div>
</div> -->

<div class="uk-position-relative" style="height: 10rem;background: #6078ea;">
     
      <h3 class="uk-text-center" style="padding-top: 1.5rem;color: white;">Simran Anil Nagdeo</h3>
       <div class="uk-position-center"
           style="width: 10rem;height: 10rem;border-radius: 50%; top:100%;background-color: teal;">
          <img src="/assets/img/simran.jpg" style="border-radius: 50%;border: 9px solid #6078ea;">  
       </div>
</div>
<br><br>
<div class="uk-padding uk-child-width-expand uk-grid-small uk-margin-top" uk-grid>
   <div class="" >
      <div class="uk-card uk-card-default uk-card-hover uk-text-center uk-padding-small" 
      style="cursor:pointer;border-radius: 10px;height: 10rem;background-image: linear-gradient(to bottom right, #F9D976, #F39F86);">
          <div class="uk-text-center textEdu" style="font-size: 1.2rem;">SSC</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;">Lions English Medium School</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Place:</b> Wani</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Percentage:</b> 92.45</div>
      </div>  
   </div>
   <div class="">
      <div class="uk-card uk-card-default uk-card-hover uk-text-center uk-padding-small" 
      style="cursor:pointer;border-radius: 10px;height: 10rem;background-image: linear-gradient(to bottom right, #F9D976, #F39F86);">
         <div class="uk-text-center textEdu" style="font-size: 1.2rem;">HSC</div>
         <div style="font-size: 0.9rem;margin-top: 0.2rem;">S.P.M. High School</div>
         <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Place:</b> Wani</div>
         <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Percentage:</b> 87.54</div>
      </div>
   </div>
   <div class="">
      <div class="uk-card uk-card-default uk-card-hover uk-text-center uk-padding-small" 
      style="cursor:pointer;border-radius: 10px;height: 10rem;background-image: linear-gradient(to bottom right,  #F9D976, #F39F86);">
          <div class="uk-text-center textEdu" style="font-size: 1.2rem; ">UG</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;">Lokmanya Tilak Mahavidyalaya, Wani</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Place:</b> Wani</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Percentage:</b> 85.14</div>
      </div>
   </div>
   <div class="">
      <div class="uk-card uk-card-default uk-card-hover uk-text-center uk-padding-small"
       style="cursor:pointer;border-radius: 10px;height: 10rem;background-image: linear-gradient(to bottom right,  #F9D976, #F39F86);">
          <div class="uk-text-center textEdu" style="font-size: 1.2rem;">PG</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;">MIT-World Peace University</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Place:</b> Pune</div>
          <div style="font-size: 0.9rem;margin-top: 0.2rem;"><b>Percentage:</b> 80.26</div>
       </div>
   </div>
</div>

<div class="uk-padding uk-margin-top"  style="background-color: black;">
     <h3 class="uk-text-center" style="color: white;">About me</h3>
     <p class="uk-text-center" style="color: white;padding : 0px 100px">
        I am Simran Nagdeo, currently pursuing MCA from MIT World Peace University.
        I had completed my graduation from Lokmanya Tilak Mahavidyalaya.
        I had completed my 12th from Maharashtra State Board and also completed my 10th From Maharashtra State Board.
        My Hobbies are, I like to play badminton, I have interest in coding. My strengths are I'm self-motivated, hard-working and I like to learn new thing.
     </p>
</div>

<!-- <div class="uk-padding-small uk-margin-top" style="background-color: black;color: white;">
   <h3 class="uk-text-center" style="color: white;">About Me</h3>
   <div class="uk-child-width-expand uk-grid-small uk-text-center" uk-grid>
      <div>
          <img src="/assets/img/default.jpg">
      </div>
      <div>
         <div class="uk-text-left"><b>Name: </b>Simran A. Nagdeo</div>
         <div class="uk-text-left"><b>Gender: </b>Female</div> 
         <div class="uk-text-left"><b>Birthday: </b>23 Mar, 1996</div> 
         <div class="uk-text-left"><b>Contact: </b>9422496835</div> 
         <div class="uk-text-left"><b>Email: </b>simminagdeo@gmail.com</div>
         <div class="uk-text-left"><b>Address: </b>Sindhy Colony, Wani-445304</div>     
      </div>
   </div>
</div> -->





