<nav class="uk-navbar-container uk-padding-small" uk-navbar>
  <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
          <li class="uk-active">
            <span uk-toggle="target: #offcanvas-usage"
              style="cursor: pointer;" uk-icon="icon:menu"></span>
          </li>   
          <li class="uk-margin-left">
            Profile
          </li>   
      </ul>
  </div>
</nav>
<app-home></app-home>
<div class="uk-padding-small" style="background-color: black;margin-top: 10rem;">
  <div uk-sticky="bottom: true" class="uk-text-center" style="color: white;">© 2020 by Simran Nagdeo</div>
</div>
<div id="offcanvas-usage" style="background-color: white !important;" uk-offcanvas>
    <div class="uk-offcanvas-bar">
       <button class="uk-offcanvas-close" type="button" uk-close></button>
       <ul class="uk-list">
         <li>
            <span uk-icon="icon:home" class="uk-inline" style="margin-right: 0.8rem;" ></span>
            <p class="uk-inline" style="margin-top: 0.2rem;">Home</p>
         </li>
         <li>
           <span uk-icon="icon:code" class="uk-inline" style="margin-right: 0.8rem;" ></span>
           <p class="uk-inline" style="margin-top: 0.2rem;">Project & Skills</p>
         </li>
         <!-- <li>
           <span uk-icon="icon:home" class="uk-inline" style="margin-right: 0.8rem;" ></span>
           <p class="uk-inline" style="margin-top: 0.2rem;">Experience</p>
         </li> -->
       </ul>
         
      

    </div>
</div>